/*
  Base
*/

body {
  font-family: "Ubuntu Mono", "Microsoft YaHei", Arial, sans-serif;
  font-size: 15px;
  color: #252A34;/*#222831;/*#3A3A3A;/*rgba(0,0,0,.8);/*#666;*/
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #f4f4f4;
}


h1{
  font-size: 1.3rem;
}
h2{
  font-size: 1.2rem;
}
h3{
  font-size: 1.1rem;
}
h4{
  font-size: 1.0rem;
}
h5{
  font-size: 0.9rem;
}

h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu Mono", "Microsoft YaHei";
  color: #333;
}

@media (max-width: 30em) {
  body {
    font-size: 10px;
  }
  h1{
    font-size: 1.3rem;
  }
  h2{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1.1rem;
  }
}


a {
  text-decoration: underline;
  /*border-bottom: 1px solid black;*/
  color: black; /*#222831;/*#FF333E;*/
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

a:hover {
  color: #FF2E63;/*#999;*/
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

p img{
    max-width: 85%;
    text-align: left;
    text-indent: 0;
}

/*@media (max-width: 30em) {
    p img {
      max-width: 75%;
    }
}*/

/*
  Blockquote
*/

/*blockquote {
  padding: 0rem 1rem;
  margin: .8rem 0;
  color: #999;
  border-left: 0.25rem solid #ccc;
}

blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}*/

blockquote {
  border-left: 0.25rem solid #ccc;
  margin: 1.5em 10px;
  color: #999;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 715px;

}

@media (max-width: 1366px) {
  .container {
    width: 50vw;
  }
}


@media (max-width: 48em) {
  .container {
    width: 95vw;
  }
}

/*
  Masthead
*/

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-family: "Ubuntu Mono", "Microsoft YaHei";
}

.masthead a:hover {
  color:black;
}

.masthead-title a {
  font-size: 2rem;/*25px;*/
  text-decoration: none;
  color: #505050;
}

.masthead-subtitle {
  color: #999;
}

@media (max-width: 30rem) {
  .masthead {
      margin-bottom: 1rem;
    }

  .masthead-title small {
    display: none;
  }
}

/*
  Post
*/

.post-container {
    margin-bottom: 4rem;
}

.posts {
  margin-bottom: 2rem;
  list-style: none;
  background-color: #fff;
  padding: 20px  40px;
  border-radius: 5px;
  box-shadow: 0 0 0 0, 0 6px 12px #dcdcdc;
}

.post-one {
    margin-bottom: 2rem;
    list-style: none;
    background-color: #fff;
    padding: 20px  40px;
    border-radius: 5px;
    box-shadow: 0 0 0 0, 0 6px 12px rgba(34,34,34,0.1);
}

.post-one p{
    text-indent:2rem;
}

.post-one p img{
    text-indent:0;
}

.posts h1 a {
    color: #252A34;
}

.posts li p {
    text-indent: 0;
}

.posts p {
    color: rgba(0,0,0,.44);
    text-indent:2rem;
}

.posts p span{
    text-indent:0;
}


.post-date {
  display: block;
  margin-bottom: 1rem;
  color:#08D9D6;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size:1rem;
  line-height: 1.1rem;
}

.post-tags {
    display: inline-block;
    font-size: 0.7rem;
    color: #08D9D6;
    border: 0.0625rem solid #08D9D6;
    box-sizing: border-box;
    border-radius: 0.125rem;
    text-decoration: none;
    padding: 1px 4px;
}

.post-tags:hover{
    border: 0.0625rem solid #FF2E63;
}

@media (max-width: 48em) {
  .posts {
    margin-bottom: 1rem;
    padding: 10px  20px;
  }
  .post-date {
    font-size:8px;
  }
  .post-one {
      padding: 10px  20px;
  }
  .post-one p{
      text-indent: 2rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

.readmore{
  font-family: "Ubuntu Mono", "Microsoft YaHei";
  font-weight: 700;
  display: inline-block;
  letter-spacing: 1px;
  color: #FF2E63;
  float: right;
}



/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: "Ubuntu Mono", "Microsoft YaHei";
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: #999;
  border: 2px solid #999;
  padding: 8px 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  border: 2px solid #FF2E63;
}

/*
  Footer
*/

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: #999;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: #333;
}

/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: #999;
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: #999;
  font-size: 1rem;
}

@media (max-width: 30em) {
  .social-icons {
    display: none;
  }
}

/*
  Code
*/

pre,
code {
    font-size: 1rem;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-family: "Ubuntu Mono";
}

@media (max-width: 30em) {
  pre,code {
      font-size: 10px;
  }
}

code {
    padding: 1px 5px;
}

pre {
    padding: 4px 8px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight {
  margin-left: 0px;
  margin-right: 0px;
}

.highlight .lineno {
  color: #aaa;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}

.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}


/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-weibo {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-weibo:hover {
	color: #e74c3c;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-rss {
  padding: 5px;
  -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-rss:hover {
  color: #000000;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}

.fa-weixin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-weixin:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

/*.fa-calendar{
    color:#FF2E63;
}

.fa-clock-o{
  color: #FF2E63;
}

.fa-user{
  color: #FF2E63;
}*/

/*.dataframe {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #222;
    border-collapse: collapse;
    border-left: none;
    word-break: normal;
    text-align: left;
}

.dataframe thead th{
    vertical-align: middle;
    text-align: inherit;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #222;
    line-height: 20px;
}

.dataframe td {
    padding: 8px;
    border: 1px solid #222;
    line-height: 20px;
    vertical-align: middle;

}

table{
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}*/

.dataframe {
    border: 1px solid #373737;
    /*margin-bottom: 20px;*/
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
}

.dataframe th {
    padding: 10px;
    background: #222;
    color: #fff;
}

.dataframe td {
    padding: 10px;
    border: 1px solid #222;
}
