<footer class="footer">
  <a href="https://github.com/{{site.author.github}}"><i class="fa fa-github" aria-hidden="true" target="_blank"></i></a>
  <a href="https://weibo.com/u/{{site.author.weibo}}"><i class="fa fa-weibo" aria-hidden="true" target="_blank"></i></a>
  <a href="https://plus.google.com/u/0/{{site.author.googleplus}}"><i class="fa fa-google-plus" aria-hidden="true" target="_blank"></i></a>
  <a href="https://linkedin.com/in/{{site.author.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
  <a href="mailto:{{site.author.email}}"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  <div class="post-date"><a href="{{ site.github.url }}/about.html">{{ site.title }} | {{ site.tagline }} by <strong style="color: black">{{ site.author.name }}</strong></a>|<a href="{{ site.github.url }}/sitemap.xml" title="网站地图">网站地图</a></div>
</footer>
